/* Base styles */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;

}

body{
    background-color:#f9fafb;

}

/* Header styles */
#navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
    background-color:#f9fafb;
    color: #101041;
    text-align: center;
    box-shadow: 1px 2px 2px #101041;
}

.logo img{
    height: 60px;
}

/* Navigation styles */
.nav-menu {
    float: left;
    display: block;
    color: #101041;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none
}


.menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 400px;
    list-style: none;
    font-size: 16px;
    font-weight: 500;

}

.menu-list a{
    display: flex;
    color: #101041;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-list a:hover{
    display: flex;
    color: #b88f1e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navButton{
    background-color: #b88f1e;
    color: #101041;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 1px 2px 1px 0 rgb(90, 79, 122);
    
}

#navButton:hover{
    padding: 8px 17px;
    background-color: #101041;
    border-radius: 30px;
    color: #b88f1e;
    border: solid 3px #b88f1e;
    box-shadow: none;

    
}

#navButton:hover a{
    text-decoration: none;
    color: #b88f1e;

}

#navButton a{
    text-decoration: none;
    color: #101041;
}
#accueil{
    display: flex;
    flex-direction: column;
}

.acceuilDetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.acceuilDetail .left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}

.acceuilDetail .left h1{
    font-size: 37px;
    color: #101041;
}  

.acceuilDetail .left p{
    font-size: 12px;
    color: #0a0a27;
}  

.acceuilDetail .left h1 span{
    font-size: 35px;
    color: #b88f1e;
}  

#parcourBtn{
    background-color: #b88f1e;
    color: #101041;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 1px 2px 1px 0 rgb(90, 79, 122);
    
}

#inscriptBtn{
    background-color: #b88f1e;
    color: #101041;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 1px 2px 1px 0 rgb(90, 79, 122);
    
}


.acceuilDetail .right img{
    height: 450px;
}


.a-proposDetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

.a-proposDetail .left img{
    height: 450px;
}

.a-proposDetail .right{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 50%;
    gap: 5px;
}

.a-proposDetail .right h2{
    font-size: 37px;
    color: #101041;
}

.a-proposDetail .right p{
    font-size: 12px;
    color: #0a0a27;
}

.a-proposDetail .right p span{
    font-size: 12px;
    font-weight: 500;
    color: #b88f1e;
}

.a-proposDetail .right h3{
    font-size: 20px;
    color: #b88f1e;
}

.contactDetail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}

.contactDetail .left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 40px;
}

.contactDetail .left h2{
    font-size: 37px;
    color: #101041;
}

.contactDetail .left p{
    font-size: 12px;
    color: #0a0a27;
}

.contactDetail .left h3{
    font-size: 20px;
    color: #b88f1e;
}


.contactDetail .right img{
    height:400px;
    width: 550px;
}   



/* Form styles */
form {
    max-width: 600px;
    color: #101041;
    font-weight: 500;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="email"],input[type="tel"], input[type="password"], textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit{
    width: 100%;
    background-color: #b88f1e;
    font-weight: 500;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: #101041;

}

.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    background-color: #101041;
    color: #f9fafb;
    text-align: center;
    box-shadow: 1px 2px 2px #101041;
}

.bottom p{
    text-align: center;
    padding: 20px 40px;
}

.backTop a{
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: #b88f1e;
    color: #f9fafb;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0 rgb(165, 156, 77);
    scroll-behavior: smooth;
}

.dialog-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

.dialog-box h3{
    color: #b88f1e;
}

.dialog-box a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #101041;
    font-weight: bold;
}

.dialog-box a:hover {
    text-decoration: underline;
}

.close-btn {
    background:#0a0a27;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.dialogBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Assure que la boîte de dialogue est au-dessus du contenu */
    display: none; /* Initialement caché */
}

#mainContainer {
    transition: filter 0.3s ease-in-out;
    /*Transitionfluidepourleflou*/z-index:1;
    -webkit-transition: filter 0.3s ease-in-out;
    -moz-transition: filter 0.3s ease-in-out;
    -ms-transition: filter 0.3s ease-in-out;
    -o-transition: filter 0.3s ease-in-out;
}

.connectProf{
    padding: 1% 20%;
}
/* Styles pour le formulaire de connexion professeur */

/* Styles pour centrer le logo et la phrase de bienvenue */
.site-logo {
    display: block;
    margin: 0 auto;
    width: 150px; /* Ajustez la taille du logo si nécessaire */
}

.welcome-message {
    text-align: center;
    font-size: 1.5em;
    color: #101041;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.login-form {
width: 400px;
    width: 414px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#connectProfForm h2 {
    text-align: center;
    color: #101041;
    margin-bottom: 20px;
}

#connectProfForm label {
    display: block;
    margin-bottom: 8px;
    color: #101041;
}

#connectProfForm input[type="email"],
#connectProfForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#connectProfForm .submit {
    width: 100%;
    background-color: #b88f1e;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

#connectProfForm .submit:hover {
    background-color: #101041;
}

/* Styles pour le formulaire de connexion élève */

/* Styles pour centrer le logo et la phrase de bienvenue */
.site-logo {
    display: block;
    margin: 0 auto;
    width: 150px; /* Ajustez la taille du logo si nécessaire */
}

.welcome-message {
    text-align: center;
    font-size: 1.5em;
    color: #101041;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.login-form {
    width: 414px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#connectEleveForm h2 {
    text-align: center;
    color: #101041;
    margin-bottom: 20px;
}

#connectEleveForm label {
    display: block;
    margin-bottom: 8px;
    color: #101041;
}

#connectEleveForm input[type="email"],
#connectEleveForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#connectEleveForm .submit {
    width: 100%;
    background-color: #b88f1e;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

#connectEleveForm .submit:hover {
    background-color: #101041;
}


/* Styles pour le formulaire d'inscription des élèves */
.inscriptEleve {
    max-width: 100%;
    margin: 10px auto;
    padding: 20px;
    gap: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inscriptEleve h2 {
    color: #b88f1e;
    text-align: center;
    padding-bottom: 20px;
}


.inscriptEleve form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 1px;
}

.contenair{
    display: flex;
}

.inscriptEleve label {
    margin-bottom: 8px;
    color: #101041;
    font-weight: 500;
}

.inscriptEleve input[type="text"],
.inscriptEleve input[type="date"],
.inscriptEleve input[type="tel"],
.inscriptEleve select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 10px;
}

.inscriptEleve button[type="submit"] {
    width: 100%;
    background-color: #b88f1e;
    color: white;
    padding: 14px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.inscriptEleve button[type="submit"]:hover {
    background-color: #101041;
}

#optionField {
    display: none;
}
